body{
  font-family: "Helvetica";
  text-align: center;
}
.headerarea{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.headernavigation{
  font-size: 18px;
  color: white;
}

.bigtext{
  font-size: 32px;
  font-weight: bold;
}

.mediumtext{
    font-size: 23px;
    font-weight: bold;
}

#designedintext{
  font-weight: bold;
}

.footer{
  text-align: left;
  background-color: dimgray;
  color: white;
}

.smalltext{
  font-size: 11px;
}

.footurl{
  color: white;
}
